div.carousel.carousel-slider {
  max-height: 500px;
}

/* div.slider-wrapper.axis-horizontal {
    height: 600px;
} */

li.thumb {
  text-align: center;
}

/* button.control-arrow.control-prev::before {
  border-right: 20px solid #fff
} */

/* button.control-arrow.control-next::before {
  border-right: 20px solid #fff
} */


div.thumbs-wrapper.axis-vertical {
  margin: 3px;
}

